<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>ChatGPT</title>
    <link href="https://cdn.staticfile.org/layui/2.7.6/css/layui.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% block head %}
    {% endblock head %}
</head>
<body>
{% block content %}
{% endblock content %}
<script src="https://cdn.staticfile.org/layui/2.7.6/layui.js"></script>
{% block js %}
{% endblock js %}
</body>
</html>